# Check for updates every 5 minutes
*/5 * * * * /bin/bash /update.sh

# Check for updates every minute
#* * * * * /bin/bash /update.sh >> /var/log/cron.log 2>&1

# An empty line is required at the end of this file for a valid cron file.
